# keep big data files out of the repo; usually there's a README or bash script explaining data locations
*.zip
*.tar.gz
*.tsv
*.csv
*.json
*.geojson

# pesky Mac files
.DS_Store

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
